body {
	background-color: yellow;
}

#carousel {
	margin: 0 auto;
	width: 400px;
	height: 280px;
	border: 1px solid;
	overflow: hidden;
	position: relative;
}

ul {
	list-style:none;
	width: 2000px;
}

li {
	
	list-style: none;
	float: left;
}

img {
	width: 100%;
	margin-left: -70px;
	margin-top: -20px;
}

#left,
#right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
}

#left .fa,
#right .fa {
	color: #fff;
	text-shadow: 1px 1px 1px #000;
}

#left {
	left: 15px;
}

#right {
	right: 15px;
}

i:hover {
	opacity: 1;
}





